/static/favicon.ico
/static/index.html
/static/main.js
/static/main.js.map
/static/polyfills.js
/static/polyfills.js.map
/static/runtime.js
/static/runtime.js.map
/static/styles.js
/static/styles.js.map
/static/vendor.js
/static/vendor.js.map
/static/
